@font-face {
   font-family: 'GT Walsheim Pro Bold Regular';
   font-display: swap;
   src: url('file:///Users/shuzm/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-03-14_205844/fonts/GT%20Walsheim%20Pro%20Bold%20Regular/font.ttf');
}
